.profile__edit-btn {
  width: 24px;
  height: 24px;
  background-color: #000000;
  border: 1px solid #ffffff;
  background-image: url(../../../images/Edit_Button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
