@import url(./__close-btn/popup__close-btn.css);
@import url(./__content/popup__content.css);
@import url(./__field/popup__field.css);
@import url(./__button/popup__button.css);
@import url(./__title/popup__title.css);
@import url(./__text/popup__text.css);
@import url(./__image/popup__image.css);
@import url(./__image-content/popup__image-content.css);
@import url(./__delete-content/popup__delete-content.css);
@import url(./__image-link/__image-link.css);

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s linear;
}
